# Default ignored files
/../../../:TestTask/.idea/shelf/
/../../../:TestTask/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:TestTask/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:TestTask/.idea/dataSources/
/../../../:TestTask/.idea/dataSources.local.xml
